Package: unicode
Version: 0.9.8
Architecture: all
Maintainer: Radovan Garabík <garabik@kassiopeia.juls.savba.sk>
Installed-Size: 43
Depends: python (>= 2.3)
Recommends: unicode-data
Section: utils
Priority: optional
Description: display unicode character properties
 unicode is a simple command line utility that displays
 properties for a given unicode character, or searches
 unicode database for a given name.
