Source: unicode
Section: utils
Priority: optional
Maintainer: Radovan Garabík <garabik@kassiopeia.juls.savba.sk>
Build-Depends: debhelper (>= 4), python (>= 2.6)
Standards-Version: 3.9.4

Package: unicode
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Recommends: unicode-data
Description: display unicode character properties
 unicode is a simple command line utility that displays
 properties for a given unicode character, or searches
 unicode database for a given name.
