Source: unicode
Section: utils
Priority: optional
Maintainer: Radovan Garabík <garabik@kassiopeia.juls.savba.sk>
Build-Depends: debhelper-compat (= 13), dh-sequence-python3, python3
Standards-Version: 4.6.2
Homepage: http://kassiopeia.juls.savba.sk/~garabik/software/unicode.html
Rules-Requires-Root: no

Package: unicode
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: bzip2
Recommends: unicode-data
Description: display unicode character properties
 unicode is a simple command line utility that displays
 properties for a given unicode character, or searches
 unicode database for a given name.
